<!DOCTYPE html>
<html>
  <head>
    <title>Store Management App</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/photon.min.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <!--<script src="app.js" charset="utf-8"></script> -->
  </head>
  <body>
    <div class="window">
      <header class="toolbar toolbar-header">
        <h1 class="title">Manager</h1>
      </header>
      <div class="window-content">
        <div class="pane-group">
          <div class="pane-sm sidebar">Sidebar</div>
          <div class="pane">
            <table class="table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email address</th>
                </tr>
              </thead>
              <tbody>
                <tr id="listClient">
                  <td v-for="client in clients">{{ client.name }}</td>
                  <td v-for="client in clients">{{ client.email }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <footer class="toolbar toolbar-footer">
        <h1 class="title">Version 1.0</h1>
      </footer>
    </div>
    <script src="./vue.js">
      //download the production version
    </script>
    <script src="./listClient.js"></script>
  </body>
</html>
